<%- include("partials/header"); -%> 
<section>
    <div class="home1">
      <img class="title-image1" src="./images/women together.jfif" alt="home1">
    </div> 
    <div class="home1-sub">
      <div class="home1-sub-sub">
          <h2>Women helping women</h2>
          <div class="homesub">
              <p>With the number of single women increasing, stepping out of the house could be a nerve-wracking task. 
                Ensuring safety if you're living alone, is easier said than done. But what if women help and stand for each other? This is what Take a Buddy is all about!</p>
                 <button class="button but"><a style="text-decoration: none;" href="/takebuddy">Find&nbsp;&nbsp;buddies&nbsp;&nbsp;nearby</a> </button>
                 </p>
          </div> 
      </div>
  </div>
  </section>

  <section class="section2">
    <div class="outer-div div1">
      <div class="classname left-align">
        <h2>Meet like-minded women</h2>
          <p>If you ever feel very lonely and just need a friend or two, then you can use this platform to socialise and meet new women.</p>
      </div>
       <div class="classname image-right"><img class="img" src="images\women1.jfif" alt="" width="400px"  height="300px"></div>
    </div>


    <div class="outer-div div2">
       <div class="classname"><img class="img" src="images\women2.jfif" alt="" width="400px"  height="300px"></div>
        <div class="classname right-align"><h2>Explore a new place</h2>
            <p>Moving to different cities to fulfill career aspirations is just one of the many reasons why women might live alone. You can use this platform to search for roommates, or look up for women who will help you familiarise with the city.</p> </div>
        <div>
    </div>

    <div class="outer-div div3">
        <div class="classname left-align"><h2>Need a babysitter or an elderly sitter</h2>
            <p>Are you a woman searching for a babysitter or an elderly sitter? Look up for women on our platform who may be available for this job.</p></div>
        <div class="classname image-right"><img class="img" src="images\women3.jfif" alt="" width="400px"  height="300px"></div>
    </div>


    <div class="outer-div div4">
       <div class="classname"><img class="img" src="images\women4.jfif" alt="" width="400px"  height="300px"></div>
       <div class="classname right-align"><h2>More about this platform</h2>
        <p>Take A Buddy can be used creatively by the women, be it just a social network to make new friends, or make your business known, or just search for part-time jobs or required services. Take A Buddy supports Women helping Women.</p></div>
    </div>
</section>
    
 <section class="colored-section" id="testimonials">
        <br>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <h2 class="testimonial-txt">
                  "Getting shifted to a new place wasn't an easy task,But Thanks to 'Take A Buddy',I've met women who came here with the same purpose as I and got to know this place better."
                </h2>
              <img class="testimonial-image" src="images\callcenter.png" alt="First slide">
              <h4 style="font-size:15px;margin: auto; width: fit-content;">Natasha Shah,Bangalore</h4>
             </div>
            <div class="carousel-item container-fluid">
              <h2 class="testimonial-txt">
                  "Being a Home maker I was just bound to look after my family and house, but now I help women and guide them about what are the things they would love experiencing in my city."
              </h2>
              <img class="testimonial-image" src="images\homemaker.png" alt="Second slide">
              <h4 style="font-size:15px;margin: auto; width: fit-content;">Meghana Sanu,Mumbai</h4>
            
           </div>
            <div class="carousel-item container-fluid">
              <h2 class="testimonial-txt">
                  "I've been staying far from my family for the first time and being a new student no friends either, But Thanks to Take A Buddy, I get to socialise with women around me and get to know this city."
              </h2>
              <img class="testimonial-image" src="images\college.png" alt="Third slide">
              <h4 style="font-size:15px; margin: auto; width: fit-content;">Rhea Dias,Goa</h4>  
              <br>
             </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="footer-container">
       
          <a class="footer-link" href=""><i class="icon fab fa-facebook-f"></i></a>
          <a class="footer-link" href=""><i class="icon fab fa-youtube"></i></a>
          <a class="footer-link" href=""><i class="icon fab fa-instagram"></i></a>
          <a class="footer-link" href=""><i class="icon fab fa-twitter"></i></a>
          <a class="footer-link" href=""><i class="icon fab fa-linkedin"></i></a>
          <p class="copyright">@2021 Take A Buddy inc |&nbsp;&nbsp;<span class="right">Terms & Conditions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy</span> </p>
        </div>
    </section>


</body>
</html>