header, section, footer, nav, aside, article, main, figure {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('tab1 1.png') center no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
}
*, *::after, *::before {
    box-sizing: border-box;
}

button{

}

.main {
    background: #3B4C63;
    color: white;

    font-family: 'Comfortaa';

    width: 100%;
    height: 10vh;
    min-height: 50px;

    position: fixed;
    top: 0;
    z-index: 999;
}
.main>span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    font-size: 1.5rem;
    font-weight: 600;
}
.main>ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    list-style-type: none;
    margin: 0; padding: 0;

    display: inline-block;

    width: fit-content;
}
.main>ul>li {
    font-family: 'Josefin Sans';
    display: inline-block;
    padding: 0;margin: 0;
}
.main>ul>li>a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
}
.auth {
    right: 5%;
}
.auth>li:last-child a {
    background-color: white;
    border-radius: 5px;
    color: black;
}
.navlinks {
    left: 25%;
}

.main>ul:not(.auth)>li>a:hover {
    background-color: white;
    color: black;
}

img{
  height: inherit;
}

.container1 {
  max-height: 70vh;
  width: 25%;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 0;
  margin-left: 25px;
  transform: translateY(-50%);
  overflow-x: hidden;
  padding-top: 20px;
  background: #FFFFFF;
}

.container1>div {
    color: white;
    font-family: 'Comfortaa';
    font-size: 1.2em;
    padding: 10px 10px;
}

.container1 input, button{
    font-family: 'Josefin Sans';
    font-size: 20px;
}

.container1 input:not(input[type="radio"]) { display: block; }

.container1 input[type="text"] {
    width: 90%;
    height: 64px;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    background: rgba(59, 76, 99, 0.35);
    color: rgba(229, 229, 229, 0.71);
    color: #FFFFFF;
    outline: none;
}

.container1 input[type="radio"]
{
    width: 19px;
    height: 19px;
    margin: 10px;
}

.container1 form { font-family: 'Josefin Sans'; color: white;}

.container1>form div {
    color: white;
    padding: 10px 10px;
}

.container1 input[type="reset"]
{
    padding: 5px 10px;
    font-size: 1em;
    margin: 10px;
}

.container1 button{
  width: 90%;
  height: 64px;
  padding: 10px 20px;
  margin: 10px auto 10px 20px;
  border: none;
  border-radius: 7px;
  background: #384C63;
  color: rgba(229, 229, 229, 0.71);
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.name-list li{
  color: #000;
  list-style: none;
}

.profile-name {
  color: #000;
  font-family: 'Josefin Sans';
  font-size: 20px;
}

#mapid {
    margin-top: 10vh;
    width: 100%;
    height: 100vh;
}